$navy-blue: #000080;

#schoolPageContent{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.col-sm-2 {
    background-color: $navy-blue;
}

.button, #signOut {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    margin:0 0 20px 12px;
    width: 100%;
    font-weight: bold;
    transition: 0.3s ease;

    a {
        text-decoration: none;
        color: white;
    }
}

.button:first-child {
    margin-top: 70px;
}

.button:hover, #signOut:hover {
    text-decoration: underline;
}

.active {
    background-color: white;
    color: $navy-blue;
}

.col-sm-10 {
    position: relative;

    h1 {
        margin-top: 10px;
        text-align: center;
        font-weight: bold;
    }
}

.section {
    position: absolute;
    top: 85px;
    left: 20px;
    opacity: 0;
    z-index: -1;
    transition: 0.3s ease;
    width: 90%;
}

.selected {
    opacity: 1;
    z-index: 2;
}

.grid_container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 10px;
    font-size: x-large;
    margin-top: 1em;

    :nth-child(odd) {
        font-weight: bold;
    }

    :nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        :nth-child(1) {
            font-weight: 400;
        }

        i {
            margin: 5px 0 0 5px;
            cursor: pointer;
        }
    }
}

#emailButtons {
    display: none;
    margin: 0 auto;

    button {
        background-color: $navy-blue;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 10px;
        width: 150px;
        font-weight: 600;
        transition: 0.3s ease;
        margin-bottom: 10px;
    }

    button:hover {
        background-color: white;
        color: $navy-blue;
        border: 3px solid $navy-blue;
    }
}

.col-sm-10 {
    .section:first-of-type {
        a {
            text-decoration: underline;
            color:$navy-blue;
            cursor: pointer;
            display: table;
            margin: 0 auto;
        }
    }

    :nth-child(5) {
        p {
            text-align: center;
            font-size: x-large;
        }

        form {
            width: 100%;
            margin-left: 2%;
        }

        button {
            display: table;
            margin: 0 auto;
            background-color: $navy-blue;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 10px;
            width: 150px;
            font-weight: 600;
            transition: 0.3s ease;
        }

        button:hover {
            background-color: white;
            color: $navy-blue;
            border: 3px solid $navy-blue;
        }
    }

    :nth-child(6) {
        p, input {
            width: 100%;
        }

        p {
            text-align: center;
            font-size: x-large;
        }

        input {
            outline: none;
            font-size: large;
        }

        button {
            display: table;
            margin: 0 auto;
            background-color: $navy-blue;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 10px;
            width: 150px;
            font-weight: 600;
            transition: 0.3s ease;
        }

        button:hover {
            background-color: white;
            color: $navy-blue;
            border: 3px solid $navy-blue;
        }
    }
}

table {
    margin-top: 10px;

    th {
        font-weight: bold;

        i {
            cursor: pointer;
        }
    }
    
    :nth-child(2) tr {
        cursor: pointer;
    }
}

.grid_container1 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;

    input, .grid6 input, select {
        width: 90%;
        outline: none;
    }

    select {
        cursor: pointer;
    }
}

.modal-dialog {
    margin-top: 10em;
}

.modal-footer {
    button {
        background-color: $navy-blue;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 10px;
        width: 50px;
        font-weight: 600;
        transition: 0.3s ease;

        a {
            color: white;
            text-decoration: none;
        }

        a:hover {
            color: $navy-blue;
        }
    }

    button:hover {
        background-color: white;
        color: $navy-blue;
        border: 3px solid $navy-blue;
    }
}