$navy-blue: #000080;

.container-fluid {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    background-color: $navy-blue;
    display: table;
}

.outer-container {
    display: table-cell;
    vertical-align: middle;
}

.inner-container {
    background-color: white;
    margin: auto;
    padding: 20px;
    max-width: 600px;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #00003c;

    h2, p {
        text-align: center;
    }

    h2 {
        font-weight: 600;
        text-transform: uppercase;
    }

    form {
        margin-left: 5%;

        input {
            width: 90%;
            outline: none;
        }

        button {
            background-color: $navy-blue;
            color: white;
            border: none;
            padding: 15px;
            border-radius: 10px;
            width: 100px;
            display: table;
            margin: auto;
            transition: 0.3s ease;
        }

        button:hover {
            background-color: white;
            color: $navy-blue;
            border: 3px solid $navy-blue;
        }
    }
}